<template name="breakfast">
    <div class="row">
        <div class="form-group {{errorClass 'breakfast.food'}} col-sm-9">
            <label for="breakfast-food" class="control-label">Food</label>

            <textarea name="breakfast-food" id="breakfast-food" rows="3"
                      class="form-control">{{breakfast.food}}</textarea>
            <span class="help-block">{{errorMessage 'breakfast.food'}}</span>
        </div>
    </div>

    <div class="row">
        <div class="form-group {{errorClass 'breakfast.time'}} col-sm-3">
            <label for="breakfast-time" class="control-label">Time</label>

            <div class="input-group date" id="breakfast-timepicker-container">
                <input name="breakfast-time" id="breakfast-time" value="{{formattedTime breakfast.time}}" type="text"
                       class="form-control"/>
                <span class="input-group-addon"> <i class="glyphicon glyphicon-time"></i> </span>
            </div>
            <span class="help-block">{{errorMessage 'breakfast.time'}}</span>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                <label for="breakfast-satisfying" class="control-label">Satisfying</label>

                <select name="breakfast-satisfying" id="breakfast-satisfying" class="form-control">
                    <option {{breakfastSatisfyingSelected ''}} value=""></option>
                    <option {{breakfastSatisfyingSelected 'yes'}} value="yes">yes</option>
                    <option {{breakfastSatisfyingSelected 'no'}} value="no">no</option>
                </select>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                <label for="breakfast-snack-after" class="control-label">Snack After</label>

                <select name="breakfast-snack-after" id="breakfast-snack-after" class="form-control">
                    <option {{breakfastSnackAfterSelected ''}} value=""></option>
                    <option {{breakfastSnackAfterSelected 'yes'}} value="yes">yes</option>
                    <option {{breakfastSnackAfterSelected 'no'}} value="no">no</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group {{errorClass 'breakfast.cravings'}} col-sm-9">
            <label for="breakfast-cravings" class="control-label">Cravings</label>

            <input name="breakfast-cravings" id="breakfast-cravings" type="text" value="{{breakfast.cravings}}"
                   class="form-control"/>
            <span class="help-block">{{errorMessage 'breakfast.cravings'}}</span>
        </div>
    </div>

    <div class="row">
        <div class="form-group {{errorClass 'breakfast.mood'}} col-sm-3">
            <label for="breakfast-mood" class="control-label">Mood</label>

            <select name="breakfast-mood" id="breakfast-mood" class="form-control">
                <option {{breakfastMoodSelected ''}} value=""></option>
              {{#each mood}}
                  <option {{breakfastMoodSelected this}} value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <span class="help-block">{{errorMessage 'breakfast.mood'}}</span>
        </div>

        <div class="form-group {{errorClass 'breakfast.energyLevel'}} col-sm-3">
            <label for="breakfast-energy-level" class="control-label">Energy Level</label>

            <input type="number" name="breakfast-energy-level" id="breakfast-energy-level"
                   value="{{breakfast.energyLevel}}"
                   class="form-control" min="1" max="10"/>
            <span class="help-block">{{errorMessage 'breakfast.energyLevel'}}</span>
        </div>

        <div class="form-group {{errorClass 'breakfast.clarityLevel'}} col-sm-3">
            <label for="breakfast-clarity-level" class="control-label">Clarity Level</label>

            <input type="number" name="breakfast-clarity-level" id="breakfast-clarity-level"
                   value="{{breakfast.clarityLevel}}"
                   class="form-control" min="1" max="10"/>
            <span class="help-block">{{errorMessage 'breakfast.clarityLevel'}}</span>
        </div>
    </div>
</template>
