<template name="journalEntryFormFields">
    <div class="row">
        <div class="form-group {{errorClass 'entryDate'}} col-sm-3 col-sm-offset-9">
            <label for="entry-datepicker" class="control-label">Date</label>
            <div class="input-group date" id="entry-datepicker-container">
                <input name="entry-date" value="{{formattedEntryDate}}" type="text"
                       class="form-control" id="entry-datepicker"/>
                <span class="input-group-addon"> <i class="glyphicon glyphicon-th"></i> </span>
            </div>
            <span class="help-block">{{errorMessage 'entryDate'}}</span>
        </div>
    </div>

    <div class="row">
        <div class="form-group {{errorClass 'caption'}} col-xs-12">
            <label for="caption" class="control-label">Caption</label>

            <input name="caption" id="caption" type="text" value="{{caption}}"
                   class="form-control"/>
            <span class="help-block">{{errorMessage 'caption'}}</span>
        </div>
    </div>

    <h4 class="page-header">Last Night's Sleep</h4>

    <div class="row">
        <div class="form-group {{errorClass 'sleep.hours'}} col-xs-3">
            <label for="sleep-hours" class="control-label">Hours</label>

            <input type="number" name="sleep-hours" id="sleep-hours" value="{{sleep.hours}}"
                   class="form-control" min="0" max="72" step="0.25"/>
            <span class="help-block">{{errorMessage 'sleep.hours'}}</span>
        </div>
        <div class="form-group {{errorClass 'sleep.quality'}} col-xs-3">
            <label for="sleep-quality" class="control-label">Quality</label>

            <select name="sleep-quality" id="sleep-quality" class="form-control">
                <!--note, sleep.quality falls out of scope (undefined) within the each loop -->
                <option {{sleepQualitySelected ''}} value=""></option>
                {{#each sleepQuality}}
                    <option {{sleepQualitySelected this}} value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
            <span class="help-block">{{errorMessage 'sleep.quality'}}</span>
        </div>
    </div>

    <h4 class="page-header">Breakfast</h4>

    <div class="row">
        <div class="form-group {{errorClass 'breakfast.food'}} col-xs-12">
            <label for="breakfast-food" class="control-label">Food</label>

            <textarea name="breakfast-food" id="breakfast-food" rows="5"
                      class="form-control">{{breakfast.food}}</textarea>
            <span class="help-block">{{errorMessage 'breakfast.food'}}</span>
        </div>
    </div>

    <div class="row">
        <div class="form-group {{errorClass 'breakfast.time'}} col-xs-3">
            <label for="breakfast-time" class="control-label">Time</label>

            <div class="input-group date" id="breakfast-timepicker-container">
                <input name="breakfast-time" id="breakfast-time" value="{{formattedTime breakfast.time}}" type="text"
                       class="form-control"/>
                <span class="input-group-addon"> <i class="glyphicon glyphicon-time"></i> </span>
            </div>
            <span class="help-block">{{errorMessage 'breakfast.time'}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <div class="checkbox">
              <label>
                  <input type="checkbox" value="{{breakfast.satisfying}}"/>
                  Satisfying
              </label>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="checkbox">
              <label>
                  <input type="checkbox" value="{{breakfast.snackAfter}}"/>
                  Snack After
              </label>
            </div>
        </div>
    </div>

</template>
