<template name="journalEntryFormFields">
    <div class="row">
        <div class="form-group {{errorClass 'entryDate'}} col-sm-3 col-sm-offset-9">
            <label for="entry-datepicker" class="control-label">Date</label>
            <div class="input-group date" id="entry-datepicker-container">
                <input name="entry-date" value="{{formattedEntryDate}}" type="text"
                       class="form-control" id="entry-datepicker"/>
                <span class="input-group-addon"> <i class="glyphicon glyphicon-th"></i> </span>
            </div>
            <span class="help-block">{{errorMessage 'entryDate'}}</span>
        </div>
    </div>

    <div class="row">
        <div class="form-group {{errorClass 'caption'}} col-xs-12">
            <label for="caption" class="control-label">Caption</label>

            <input name="caption" id="caption" type="text" value="{{caption}}" class="form-control"/>
            <span class="help-block">{{errorMessage 'caption'}}</span>
        </div>
    </div>

    {{> sleep}}

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#breakfast" aria-controls="breakfast" role="tab" data-toggle="tab">Breakfast</a>
            </li>
            <li role="presentation">
                <a href="#lunch" aria-controls="lunch" role="tab" data-toggle="tab">Lunch</a>
            </li>
            <li role="presentation">
                <a href="#dinner" aria-controls="dinner" role="tab" data-toggle="tab">Dinner</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="breakfast" role="tabpanel">
              {{> breakfast}}
            </div>
            <div class="tab-pane" id="lunch" role="tabpanel">
                <h4>TODO lunch template</h4>
            </div>
            <div class="tab-pane" id="dinner" role="tabpanel">
                <h4>TODO dinner template</h4>
            </div>
        </div>
    </div>

</template>
